body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100vh;
    font-family: "Roboto", helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    margin-top: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    padding: 0 30px;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.header a{
    text-decoration: none;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.header, .hero, .callToAction, .footer, button {
    color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
}

button, .callToAction {
    background-color: #3882F6;
}

.infoHeader, .quoteText {
    font-size: 36px;
    color:#1f2937;
}

.main, .infoHeader {
    font-weight: 900;
}

.main {
    font-size: 48px;
}

.secondary, a {
    font-size: 18px;
    color: #E5E7EB;
}

.header p {
    font-size: 24px;
    font-weight: 700;
}

.hero, .information, .quote, .containerCTA{
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 1 auto;

}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex: 1 1 auto;

}

.container {
    display: flex;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
}

.subContainer{
    max-width: 150px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.quoteText,.quoteAuthor{
    margin: 0;
    min-width: 600px;
}

.quoteText{
    text-align: left;
    font-style: italic;
    font-weight: 0;
}

.quoteAuthor{
    text-align: right;
    font-weight: 700;
    font-size: 20px;
}

.containerCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;
}

.callToAction {
    display: flex;
    justify-content: space-around;
    min-width: 600px;
    padding: 30px 0;
}

.callToAction p{
    margin:0;
}

.big{
    font-weight: 700;
}

button, .callToAction {
    border-radius: 10px;
}

button {
    padding: 10px 30px;
    font-weight: 700;
    border-style: none;
    font-size: 16px;
}

.callToAction button {
    border-style: solid;
    border-color: #F9FAF8;
}

