body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F9FAF8;
}


.quote, .information {
    color: #1F2937;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul, .secondary {
    font-size: 18px;
    color:#E5E7EB
}

.header p {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    display:flex;
    gap: 20px;
    list-style: none;
}